@media(min-width:1200px){
.section1 {
    width: 100%;
    height: auto;
    position: relative;
}
.section1 .img img{
    width: 100%;
    height: 650px;
}
.section1 .text1{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    color: white;
}
.section1 .text1 i{
  margin-top: 2%;
  margin-left: 7%;
  font-size: 12px;
}
.section1 .text1  .loc{
    margin-left: 8%;
    margin-top: -1.70%;
    font-size: 14px;
    
}
.section1 .text1 .njo{
    font-family: 'Rokkitt', serif;
    font-weight: 300;
    color: #ffffff;
    font-size: 8.10em;
    text-align: center;
    margin-top: 8%;
}
.section1 .text1 .bor{
border: 2px solid white;
width: 52%;
margin-left: 23.50%;
}
.section1 .text1 .nun{
    color: #ffffff;
    text-align: center;
    margin: 2em ;
    letter-spacing: 8px;
    font-size: 1em;
    font-weight: 600;
}
.section1 .text1  .btn{
    width: 100%;
    align-items: center;
}
.section1 .text1 .btn .abo{
    padding: 0.5em 2em;
    border-radius: 20px;
    color: #ffffff;
    text-align: center;
    background: transparent;
    border:  1px solid #ffffff;

}
.section1 .text1 .btn .mor{
    padding: 0.5em 2em;
    border-radius: 20px;
    color: #ffffff;
    text-align: center;
    background:#ff9800;
    border:  1px solid #ff9800;
   margin-left: 1%;
}
.section1 .text1 .btn .abo:hover{
    background-color: #ff9800;
    border:  1px solid #ff9800;
    transition: 0.5s all;
}
.section1 .text1 .btn .mor:hover{
    background-color:transparent;
    border:  1px solid #ffffff;
    transition: 0.5s all;
}
.section1 .text1 .des{
    text-align: center;
    margin-top: 3.50%;
    /* border: 2px solid red; */
}
.section1 .text1 .des i{
    border: 1px solid white;
    font-size: 15px;
    padding: 10px 15px; 
   margin-left: 4px;
}
.section1 .text1 .des .face:hover{
    background-color: #337ab7;
    border: 1px solid #337ab7;
    transition:0.5s all;
}
.section1 .text1 .des .twit:hover{
    border: solid 1px #55acee;
    background: #55acee;
    transition:0.5s all;
}
.section1 .text1 .des .rs:hover{
    border: solid 1px #f26522;
    background: #f26522;
    transition:0.5s all;
}
.section1 .text1 .des .vke:hover{
    border: solid 1px #45668e;
    background: #45668e;
    transition:0.5s all;
}

/* section2 */
.section2{
    width: 100%;
    height: auto;
    margin-top: 5%;
    padding: 0px 70px;
}
.section2 .main{
    display: flex;
    flex-direction: unset;
    width: 100%;
}
.section2 .main .first{
   width: 33%;
   font-family: 'Rokkitt', serif;
}
.section2 .main .first h1{
    letter-spacing: 2px;
    font-size:3em;
    color: #212121; 
}
.section2 .main .first h5{
    color: #212121;
    font-size: .9em;
    font-weight: 600;
    line-height: 1.8em;
    margin: 0.9em 0px;
}
.section2 .main .first p{
    color: #999999;
    font-size: 1em;
    margin: 0px 0px;
    line-height: 1.8em;
}
.section2 .main .first .p2{
    margin: 10px 0px;
}
.section2 .main .seconde{
    width: 34%;
    margin-left: 0px;
 }
 .section2 .main .seconde img{
    width: 100%;
    height: 416px;
 }
.section2 .main .third{
    width: 33%;
    margin:  0px 1em;
    font-family: 'Rokkitt', serif;
}
.section2 .main .third h1{
    color: #212121;
    font-size: 1.80em;
    margin: 0 0;
    letter-spacing: 2px;
}
.section2 .main .third h5{
    color: #212121;
    font-size: .9em;
    font-weight: 600;
    line-height: 1.8em;
    margin: 1em 0px;
}
.section2 .main .third p{
    color: #999999;
    font-size: 1em;
    margin: 0px 0px;
    line-height: 1.8em;
}
.section2 .main .third .p2{
    margin: 15px 0px;
}
.section2 .main .third button{
    padding: 0.3em 1.6em;
    margin: 1em 0em;
    background-color: #ff9800;
    color: white;
    border: 1PX solid #ff9800;
    text-align: center;
}
.section2 .main .third button:hover{
    background-color: transparent;
    color: #4b4b4b;
    border: 1PX solid #212121;
    transition: 0.5s all;
}
/* .section4 */
.services {
    margin-top: 5%;
    background: #e5eff1;
}
 .services .services1{
 padding-top: 4%;
    font-size: 2.8em;
    color: #212121;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: 'Rokkitt', serif;
    text-align: center;
}
.services .row{
    margin-top: 4%;
}

.section4 .phase {
    text-align: center;
    font-size: .9em;
    color: #0e0101;
    font-weight: bold;
    margin-top: 1%;
}

.section4 p {
    width: 333px;
    text-align: center;
    color: #999999;
    line-height: 1.18em;
    font-size: .9em;
    margin-left: 3%;
    margin-top: -2%;
    line-height: 1.8em; 
}
.section4 .main {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    position: relative;
    overflow: hidden;
    background: #ffffff;
    transition-duration: 0.3s;
}
.section4 .icon {
    width: 70px;
    height: 70px;
    text-align: center;
    border: solid 3px #ff9800;
    line-height: 80px;
    margin: 10px 0px 5px 138px;
}
.section4 .main:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ff9800;
    border-radius: 100%;
    transform: scale(2);
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}
.section4 .main:hover:before {
    transform: scale(0);
}
.section4 .icon i.fa-solid {
    color: #ffffff;
    font-size: 2em;
}
.section4 .icon:hover i.fa-solid {
    color: #000000;
}

/* .section5 */
.section5 .phase {
    text-align: center;
    font-size: .9em;
    color: #0e0101;
    font-weight: bold;
    margin-top: 2%;
}
.section5 p {
    width: 246px;
    text-align: center;
    color: #999999;
    line-height: 1.7em;
    font-size: .9em;
    margin-left: 3%;
    margin-top: -4%; 
}
.section5 .main {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    position: relative;
    overflow: hidden;
    background: #ffffff;
    transition-duration: 0.3s;
}
.section5 .icon {
    width: 70px;
    height: 70px;
    text-align: center;
    border: solid 3px #ff9800;
    line-height: 80px;
    margin: 5px 0px 5px 95px;
}
.section5 .main:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ff9800;
    border-radius: 100%;
    transform: scale(2);
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}
.section5 .main:hover:before {
    transform: scale(0);
}
.section5 .icon i.fa-solid {
    color: #ffffff;
    font-size: 2em;
}
.section5 .icon:hover i.fa-solid {
    color: #000000;
}

}
